{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<div style="position:relative; top:10%;">
    <h2 style="font-size:200%; position:relative; left:2%; top:0%;" >How much would you like to withdraw?: </h2>
        <form method="POST" action="withdrawmoney/">{% csrf_token %}
            <input style="position-absolute; top:10px margin-top:-40px; float:right;"  name="amount" placeholder="$$withdraw amount">
            <button style="float:left; position: relative;  left:.1%;" class="button-large">Submit</button>
        </form>
</div>
{% endblock content %}

</body>
</html>